img {
    border-radius: 0%;
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  .button-container {
    display: flex;
    justify-content: center; /* Centraliza o botão horizontalmente */
    align-items: center;     /* Centraliza o botão verticalmente */
  }
  
  .btn-img {
    width: 24px; /* Altere o valor conforme necessário */
    height: auto; /* Mantém a proporção da imagem */
  }
  .custom-navbar {
    background-color: #1058a0; /* Cor de fundo personalizada */
  }
  
  /* Estilo base para os links da navbar */
  .custom-navbar .nav-link {
    font-size: 1.0rem; /* Tamanho da fonte dos links */
    color: #f8f9fa; /* Cor padrão do texto dos links */
    text-decoration: none; /* Remove sublinhado dos links */
    padding: 0.5rem 1rem; /* Espaçamento interno dos links */
  }
  
  /* Estilo para links ao passar o mouse */
  .custom-navbar .nav-link:hover {
    color: #ffc107; /* Cor do texto ao passar o mouse */
  }
  
  /* Media queries para tamanhos de tela menores */
  @media (max-width: 768px) {
    .custom-navbar .nav-link {
      font-size: 0.9rem; /* Reduz o tamanho da fonte dos links em telas menores */
    }
  }
  
  @media (max-width: 576px) {
    .custom-navbar .nav-link {
      font-size: 0.8rem; /* Reduz ainda mais o tamanho da fonte dos links em telas muito pequenas */
    }
  }

/* imagem exibirCapitais */
.container {
  margin-top: 50px;
}
.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.img-container img {
  max-width: 100%;
  height: auto;
}
.img-container .caption {
  margin-top: 10px;
}
.caption a {
  color: #007bff;
  text-decoration: none;
}
.caption a:hover {
  text-decoration: underline;
}