{% extends "painelmodelo.html" %}
{% block conteudo %}
<form action="{{url_for('cidade.create')}}" method="POST"></form>
    <div id="login">

    <div class="caixa">
        
        <img src="static/imgs/logo.jpg" alt="">
        <h1>Cadastre sua Cidade e Estado</h1>

        <div class="name">
            <input type="text" placeholder="Nome">
        </div>

        <div class="email">
            <input type="email" placeholder="E-mail">
        </div>

        <div class="cidade">
            <input type="text" placeholder="Cidade">
        </div>

        <div class="estado">
            <input type="text" placeholder="Estado">
        </div>



        <div class="Cadastrar"><br>
        
            <input type="submit" value="Enviar">
        </div>

    </div>

    </div>
</form>
{% endblock %}