{% extends "painelmodelo.html" %}
{% block conteudo %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Atualizar Categoria</h1>
    <form action="{{ url_for('categoria.update_categoria', id=categoria.id) }}" method="POST">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="nome">Nome da Categoria</label>
                    <input type="text" name="nome" class="form-control" placeholder="Nome da Categoria" value="{{ categoria.nome }}" required>
                </div>
                <div class="text-center mt-4">
                    <button type="submit" class="btn btn-success">Atualizar</button>
                    <a href="{{ url_for('categoria.recovery_categoria') }}" class="btn btn-secondary">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}