{% extends "painelmodelo.html" %}
{% block conteudo %}

    <a href="{{url_for('cidade.create')}}" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Nova Cidade</a>
    <!-- <a href="{{url_for('cidade_create', id=id)}}">Nova Cidade</a> -->
    <ul>
    {% for c in dados %}
        <li>
            {{c.nome}} - {{c.email}} {{c.cidade}} - {{c.estado}}
            <a href="{{url_for('cidade.update', id=c.id)}}">editar</a>
            <a href="{{url_for('cidade.delete', id=c.id)}}">excluir</a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}