{% extends "painelmodelo.html" %}
{% block conteudo %}
<div class="container">
  <div class="img-container">
      <!-- Link para a imagem e legenda -->
      <a href="https://example.com" class="d-block">
          <!-- Imagem com classe Bootstrap para responsividade -->
          <img src="static/imgs/capitais/macapa.png" alt="ABCD" class="img-fluid">
          <!-- Legenda da imagem -->
          <div class="caption">
              <p>Veja mais sobre esta imagem <a href="https://example.com">aqui</a></p>
          </div>
      </a>
  </div>
</div>
{% endblock %}