<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        
    <title>Document</title>
</head>
<style>
    /* Estilos básicos para a página */
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }
    .hero {
        background-color: #4CAF50;
        color: white;
        padding: 20px;
        text-align: center;
    }
    .capitais-lista {
        list-style-type: none;
        padding: 0;
    }
    .capitais-lista li {
        margin: 10px 0;
    }
    .promoções {
        margin-top: 20px;
        padding: 20px;
        background-color: #f8f9fa;
    }
</style>
<body>
    <nav class="navbar navbar-expand-sm custom-navbar">
        <div class="container">
            <!-- Toggler button for responsive collapse -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-center align-items-center" id="navbarNav">
                <ul class="navbar-nav nav-underline mb-2 mb-sm-0 d-flex">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('index') }}">Página Inicial</a>
                    </li>
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('produto.create') }}">Cadastrar Produto</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('produto.recovery') }}">Exibir Produtos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('usuario.logoff') }}" class="btn btn-primary">Sair ({{ current_user.nome }})</a>
                        {% endif %}
                    </li>
                </ul>

                <!-- Search Form -->
                <form class="d-flex ms-3" role="search">
                    <input class="form-control me-2" type="search" placeholder="Digite texto" aria-label="Search">
                    <button class="btn btn-outline-secondary" type="submit">
                        <img class="btn-img" src="/static/imgs/search.png" alt="Search">
                    </button>
                </form>
            </div>
        </div>
    </nav>

    <main>
        {% set mensagens = get_flashed_messages(with_categories=true) %}
        {% if mensagens %}
            <div>
                <ul>
                {% for cat, m in mensagens %}
                    <li class="alert alert-{{ cat }}">{{ m }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endif %}

        {% block conteudo %}
        {% endblock %}
    </main>

    <!-- <footer>
        <p>&copy; <span id="ano"></span> Criado e desenvolvido por: Sua Empresa.</p>
    </footer> -->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>