{% extends "painelmodelo.html" %}
{% block conteudo %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Atualize seu Produto</h1>
    <form action="{{ url_for('produto.update', id=produto.id) }}" method="POST" enctype="multipart/form-data">
        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" name="nome" class="form-control" placeholder="Nome" value="{{ produto.nome }}" required maxlength="100">
                </div>

                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <textarea name="descricao" class="form-control" placeholder="Descrição" required maxlength="500">{{ produto.descricao }}</textarea>
                </div>

                <div class="form-group">
                    <label for="preco">Preço</label>
                    <input type="number" name="preco" class="form-control" placeholder="Preço" step="0.01" value="{{ produto.preco }}" required min="0" max="10000">
                </div>

                <div class="form-group">
                    <label for="categoria_id">Categoria</label>
                    <select name="categoria_id" class="form-control" required>
                        <option value="" disabled selected>Selecione a Categoria</option>
                        {% for categoria in categorias %}
                            <option value="{{ categoria.id }}" {% if categoria.id == produto.categoria_id %}selected{% endif %}>{{ categoria.nome }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="form-group">
                    <label for="imagem">Imagem</label>
                    <input type="file" name="imagem" class="form-control-file" accept="image/*">
                </div>

                <div class="text-center">
                    <button class="btn btn-success mt-4" type="submit">Atualizar</button>
                    <a href="{{ url_for('produto.recovery') }}" class="btn btn-secondary mt-4">Cancelar</a>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}