{% extends "painelmodelo.html" %}
{% block conteudo %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Produtos</h1>
    <div class="table-responsive">
        <table class="table table-bordered table-striped text-center">
            <thead>
                <tr>
                    <th>Imagem</th>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                    {% if current_user.is_authenticated %}
                    <th>Ações</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for produto in produtos %}
                    <tr>
                        <td>
                            {% if produto.imagem %}
                                <img src="{{ url_for('static', filename='uploads/' + produto.imagem) }}" alt="{{ produto.nome }}" style="width: 100px; height: 100px; object-fit: cover;">
                            {% else %}
                                <img src="/static/imgs/default.png" alt="Imagem padrão" style="width: 100px; height: 100px; object-fit: cover;">
                            {% endif %}
                        </td>
                        <td>{{ produto.nome }}</td>
                        <td>{{ produto.descricao }}</td>
                        <td>R$ {{ produto.preco | number_format(2, ',', '.') }}</td>
                        {% if current_user.is_authenticated %}
                        <td>
                            <a href="{{ url_for('produto.update', id=produto.id) }}" class="btn btn-secondary btn-sm" role="button">Editar</a>
                            <a href="{{ url_for('produto.delete', id=produto.id) }}" class="btn btn-danger btn-sm" role="button">Excluir</a>
                        </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if current_user.is_authenticated %}
        <div class="text-center mt-4">
            <a href="{{ url_for('produto.create') }}" class="btn btn-success" role="button">Novo Produto</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}