{% extends "painelmodelo.html" %}
{% block conteudo %}
<form action="{{url_for('usuario.create')}}" method="post">
    <div id="login">

        <div class="caixa">

            <img src="static/imgs/usuario.png" alt="">
            <h1>CADASTRO</h1>

            <div class="nome">
                <input type="text" name="nome" placeholder="Nome">
            </div>

            <div class="email">
                <input type="email" name="email" placeholder="E-mail">
            </div>

            <div class="senha">
                <input type="password" name="senha" placeholder="Senha">
            </div>

            <div class="senhaconf">
                <input type="password" name="senhaconf" placeholder="Confirmar Senha">
            </div>

            <div class="cadastrar">
                <p>Já tem uma conta? <a href="{{url_for('usuario_create')}}">Entre aqui.</a></p>
                <button class="cadastrar" type="submit">Cadastrar</button>
            </div>

        </div>

    </div>
</form>
{% endblock %}